<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comment Analyzer</title>
    <link rel="stylesheet" href="CSS/style.css">
    <link rel="stylesheet" href="logo">
</head>
<body>
    <nav>
        <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="content.html">Content</a></li>
        </ul>
    </nav>
    <div class="container">
        <div class="intro">
            <h1>COMMENT ANALYZER</h1>
            <!-- <h3>Copy the youtube link over here!!</h3> -->
        </div>
        <form>
            <label for="predict">Youtube link</label><br>
            <input type="text" id="fname" name="fname" value="..."><br>
        </form>
    </div>
    <div class="bottom">
        Copyright @2024
    </div>
    <script>
        
    </script>
    
</body>
</html>